<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm a recent <a class="underline-link" href="https://www.cs.rutgers.edu/" target="_blank">Rutgers University</a> MS in Computer Science graduate with <strong>8 internships spanning 3+ years of experience</strong> in diverse industries. With my knack for cutting through the clutter and converting data into useful and creative forms, I help organizations transform raw information into valuable insights.
    </p>

    <p>
      Currently, I'm working as a <a class="underline-link" href="https://sayari.com/" target="_blank">Data Engineer at Sayari</a>, where I crawl and parse public records to build knowledge graphs supporting 1.1 billion entities and 100 million relationships. I'm also engaged in automating data workflows using Python, Airflow, and Spark.
    </p>

    <p>
      My journey includes roles as a <a class="underline-link" href="https://www.ets.org/" target="_blank">Data Scientist Intern at ETS</a> where I worked on keystroke biometric identification, and as a <a class="underline-link" href="https://www.phonepe.com/" target="_blank">Business Analyst Intern at PhonePe</a> where I conducted analyses and built forecasting models.
    </p>

    <p>
      When I'm not coding or exploring data, I enjoy learning about new technologies, particularly in the generative AI space, and contributing to open-source projects. I'm always looking for opportunities to apply my technical skills to solve real-world problems and create impactful solutions.
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
