<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm a recent <a class="underline-link" href="https://www.cs.rutgers.edu/" target="_blank">Rutgers University</a> MS in Computer Science graduate with <strong>8 internships spanning 3+ years of experience</strong> in diverse industries. With my knack for cutting through the clutter and converting data into useful and creative forms, I help organizations transform raw information into valuable insights.
    </p>

    <p>
      Currently, I'm working as a <a class="underline-link" href="https://sayari.com/" target="_blank">Data Engineer at Sayari</a>, where I crawl and parse public records to build knowledge graphs supporting 1.1 billion entities. I'm fascinated by the potential of structured data to reveal hidden patterns and generate valuable insights.
    </p>

    <p>
      My journey in the world of data has taken me through roles as a <a class="underline-link" href="https://www.ets.org/" target="_blank">Data Scientist Intern at ETS</a> and a <a class="underline-link" href="https://www.phonepe.com/" target="_blank">Business Analyst Intern at PhonePe</a>, where I developed a deep appreciation for the transformative power of well-implemented data solutions.
    </p>

    <p>
      I'm particularly drawn to artificial intelligence and machine learning applications that can turn data challenges into opportunities. Whether it's fine-tuning neural networks, optimizing data pipelines, or creating intuitive visualizations, I enjoy the creative process of making data work smarter.
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
