<section class="section featured-projects">
  <div class="section__title">Featured Projects</div>
  <div class="section__content">
    <div class="project tableau-dashboard">
      <figure class="project__pic">
        <a href="https://public.tableau.com/app/profile/niyati.jain5709/viz/Resume_17281531390760/Dashboard1" target="_blank">
          <img src="{{site.baseurl}}/img/featured/tableau/tableau-dashboard.png" alt="Niyati Jain's Tableau Dashboard">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://public.tableau.com/app/profile/niyati.jain5709/viz/Resume_17281531390760/Dashboard1" target="_blank">Personal Website on Tableau Dashboard</a>
        </div>
        <p><strong>Live Demo</strong></p>
      </figcaption>
    </div>
  </div>
</section>
